@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XpertGroup - Bovinos y Equinos</h1>
    <p class="lead">Aplicación que clasificará los bovinos y los equinos según su nombre.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Procesar Archivo de Equinos y Bovinos</h2>
        <p>
            Seleccione el archivo a procesar
        </p>
        <p>
            @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" class="form-control"/>
                <br />
                <input type="submit" name="Submit" id="Submit" value="Procesar" class="form-control" />
            }
            
        </p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>